<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteBase /

	RewriteRule ^(assets/|robots\.txt|favicon\.ico) - [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule (.*) index.php/$1
</IfModule>


<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript text/javascript application/javascript application/json 
  <FilesMatch "\.(ttf|otf|eot|svg)$" >
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>

AddDefaultCharset utf-8
AddCharset utf-8 .html .css .js .xml .json .rss
